center {
    width: 500px;
    max-width: 100%;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    color: #444;
}

header {
    background-color: #00878F;
    color: white;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 1px 5px #555555;
    position: relative;
}

h1 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 32;
}

center>div {
    padding: 10px 5px 10px 5px;
    box-shadow: 1px 1px 5px #555555;
}

button {
    display: inline-block;
    outline: none;
}

.button {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #00878F;
    padding: 6px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 6px #555;
    outline: none;
    margin: 12px auto 0px auto;
    display: inline-block;
}

.button:hover {
    box-shadow: 1px 1px 3px #444;
}

.button_r {
    padding: 0;
    margin: 0;
    vertical-align: top;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #BDC5CE;    
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
}

.button_r:hover {
    box-shadow: 1px 1px 3px #444;
}

.button_r:active {
    padding: 0;
    margin: 0;
    vertical-align: top;
    border: none;
    background-color: #3e8e41;
    transform: translateY(4px);
}

.fixed_table {
    table-layout: fixed;
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

table {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

table th, table td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

.fixed_table th, .fixed_table td {
    text-align: center;
    padding: 12px; /* Add padding */
}

table tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

table tr.header {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
    z-index: 1;
    width: 100%;
}

.hover_table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

table tr.header h2 {
  text-align: center;
}

input {
    border-radius: 4px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
